.footer {
    background-color: #0054a5;
    display: flex;
    flex-direction: column;
    align-items: left; 
    padding: 10px;
}
.body_footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
}
.content{
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
}



.left_body{
    flex: 0 0 30%;
    padding-left: 15px;
}
body {
    margin: 0; 
    padding: 0; 
    align-items: left;
}

h3{
    color: white;
}
.left_option {
    padding: 5px; 
}
.item1_menu, .item2_menu, .item3_menu, .item4_menu, .item5_menu, .item6_menu{
    margin-right: 5px;
}
.menu_option a {
    margin-right: 10px;

}

#menu {
    padding: 5px; 
}

.menu_option {
    padding: 0; 
}


#menu_content {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    list-style: none; 
    margin: 0;
    padding: 0;

}

#menu_content li {
    width: 45%;
    margin: 0;  
    color: white;
}


#menu_content li a {
    text-decoration: none; 
    color: white;
}


.menu_option {
    padding: 0;
}




#menu_content li a {
    color: white; 
}

#menu_content li a:hover {
    color: #007bff; 
}




.center_body {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 30%;
    padding-left: 40px;
}

.center_information {
    max-width: 600px;
    width: 80%;
}

.information_content {
    border-radius: 0;
}

.information_item1 {
    display: flex;
    flex-direction: column;
}

.information1,
.information2,
.information3 {
    display: flex;
    align-items: center;

}

.icon,
.icon1,
.icon2 {
    font-size: 24px;
    color: #fff;
    margin-right: 5px;
}

.text_information {
    color: #fff;
    margin: 0;
}


/* right_body */
.content_tag a {
    display: inline-block;
    padding: 5px 10px ; 
    margin-bottom: 5px;
    border-radius: 20px; 
    text-decoration: none; 
    color: #fff; 
    background-color: #007BFF; 
    transition: background-color 0.3s ease; 
    box-sizing: border-box; 
}


.content_tag a:hover {
    background-color: #0056b3; 
}
.right_body{
    flex: 0 0 32%;
}


/* final */
.final_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 20px;
    position: relative;
}
.left_final {
    flex: 1;
}
.right_final {
    flex: 1;
    text-align: right;
    position: relative; 
}
